/ Pageviews Analysis tool
/ Copyright 2016 MusikAnimal
- $currentApp = "pageviews"
!!!
%html
  %head
    - include '_head.php'
    %title= $I18N->msg( 'title' )
  %body(class="#{$rtl} #{$currentApp}")
    %div.text-center.site-notice-wrapper
      %div.site-notice
        - include "_browser_check.php"

    - include '_header.php'

    %aside.col-lg-2.page-selector
      %header.text-center
        %h4 Options
      %div.page-selector--container
        %div
          %label(for="range-input")
            = $I18N->msg( 'dates' )
          %input.form-control.aqs-date-range-selector#range-input
        %div
          %label(for="project-input")
            = $I18N->msg( 'project' )
          %input.form-control.aqs-project-input#project-input(placeholder="en.wikipedia.org")
        %div
          %label(for="platform-select")
            = $I18N->msg( 'platform' )
          %select.form-control#platform-select
            %option(value="all-access")
              = $I18N->msg( 'all' )
            %option(value="desktop")
              = $I18N->msg( 'desktop' )
            %option(value="mobile-app")
              = $I18N->msg( 'mobile-app' )
            %option(value="mobile-web")
              = $I18N->msg( 'mobile-web' )
        %div
          %label(for="agent-select")
            = $I18N->msg( 'agent' )
            %a.help-link(href="/pageviews/faq#agents")
              %span.glyphicon.glyphicon-question-sign
          %select.form-control#agent-select
            %option(value="all-agents")
              = $I18N->msg( 'all' )
            %option(selected="selected" value="user")
              = $I18N->msg( 'user' )
            %option(value="spider")
              = $I18N->msg( 'spider' )
            %option(value="bot")
              = $I18N->msg( 'bot' )

    %main.col-lg-8
      %div
        %label(for="article-input")
          = $I18N->msg( 'pages' )
        %select.aqs-select2-selector.col-lg-12.invisible#article-input(multiple="multiple")

      - include "_data_links.php"

      / Chart
      %div.chart-container
        %canvas.aqs-chart

      %div.message-container.col-lg-12

    %aside.col-lg-2.summary-column
      %header.text-center
        %h4 Totals
      %div.summary-column--container
        %div.chart-legend.col-lg-12.clearfix

    - include "_footer.php"

    - include "_modals.php"
